@import "./src/assets/scss/variables";

.pokemon-details-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.pokemon-details {
  display: flex;
  justify-content: space-between;
}
.pokemon-list-items-wrapper {
  max-height: 280px;
  overflow:hidden;
  overflow-y:scroll;
  text-align: left;
}
.pokemon-catch-btn {
  margin: 2em 0 ;
}
.sub-heading {
  font-weight: bold;
}
.catch-pokemon-modal {
  text-align: center;
}
.pokemon-nickname-input {
  width: 70%;
  height: 30px;
  border: 1px solid $blue;
  font-size: 1.2rem;
}


@media screen and (max-width: $max-width-sm) {
  .pokemon-details-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .pokemon-image {
    width: 300px;
    height: 300px;
  }
  .pokemon-details {
    justify-content: space-around;
  }
}
