@import "./src/assets/scss/variables";

.pokemon-name-heading {
  margin-bottom: 0;
}
.pokemon-details-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.pokemon-details {
  display: flex;
  justify-content: space-between;
}
.pokemon-moves {
  margin: 0.3em;
}
.pokemon-types {
  margin: 0.3em;
}
.pokemon-list-items-wrapper {
  max-height: 280px;
  overflow:hidden;
  overflow-y:scroll;
  text-align: left;
}
.pokemon-catch-btn {
  margin: 2em 0 ;
}
.sub-heading {
  font-weight: bold;
}
.catch-pokemon-modal {
  text-align: center;
}
.pokemon-nickname-input {
  width: 70%;
  height: 30px;
  border: 1px solid $blue;
  font-size: 1.2rem;
}
.pokemon-actions {
  margin: 20px 0;
}
.caught-label {
  text-align: center;
  text-decoration: none;
  background: $pokemon-gradient;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 5px;
}
.caught-label:hover {
  background: red;
}


@media screen and (max-width: $max-width-sm) {
  .pokemon-details-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .pokemon-image {
    width: 300px;
    height: 300px;
  }
  .pokemon-details {
    justify-content: space-around;
  }
}
